# Maven
target/
*.iml
*.jar
*.war
*.ear
mvnw
mvnw.cmd
.mvn/

# IntelliJ
.idea/

# Eclipse
.classpath
.project
.settings/

# Logs
*.log
*.log.*
log/
logs/

# Compiled class files
*.class

# BlueJ
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Node.js
node_modules/

# React build output
/build/
/static/

# Compiled Tailwind CSS files
/src/main/resources/static/css/

# H2 Database files
.h2.*

# Spring Boot DevTools
.restart/

# Thymeleaf cache
/src/main/resources/templates/|*.*

# IDE files
*.iml
*.ipr
*.iws
*.log
*.log.*
*.log/
